.wrapper
  .clear
  #0.icon
    
    %img{src:"/右向き.gif",class:"right"}
    %img{src:"/主人公.gif",class:"bottom"}
    %img{src:"/左向き.gif",class:"left"}
    %img{src:"/後ろ向き.gif",class:"top active"}
    %img{src:"ラプラス左.gif",class:"rapu_left"}
    %img{src:"ラプラス右.gif",class:"rapu_right"}
    %img{src:"ラプラス上.gif",class:"rapu_top"}
    %img{src:"ラプラス下.gif",class:"rapu_bottom"}
      .info
  .ball

    %img{src:"/ボール.png"} 

  .men
    %img{src:"/男トレーナー.png"}
  .women
    %img{src:"/女トレーナー.png"}
  .ooo
    %img{src:"/オーキド.png"}
  .green
    %img{src:"/グリーン右.png"}  
  .silver
    %img{src:"/シルバー右.png"} 
  .gara
    %img{src:"/ギャラドス.gif"}
  .rwomen
    %img{src:"/ロケット団女.png"}
  .rmen    
    %img{src:"/ロケット団男.png"}
  .wataru
    %img{src:"/カイリュー.gif"}
  .adult
    %img{src:"/大人のお姉さん.png"}

.email
  =current_user.email
.current_monster
  =@current_user_monster.name
.log_out
  = link_to "ログアウト", destroy_user_session_path, method: :delete 
= icon 'fas', 'volume-up'
= icon 'fas', 'volume-mute'

= audio_tag "/assets/audios/top.mp3", controls: false, loop: true, autoplay: true