.battle-wrapper {
  padding: 20px 0;
  text-align: center;
  height: 675px;
  width:  900px;
  margin: 10px auto 0;
  background: black;
} 

.enemy {
  z-index: 1;
  position: fixed;
  top: -15px;
  left: 275px;
  color: white;
  border: 5px solid white;
  width: 890px;
  height: 150px;
  margin: 0 auto;
  margin-top:30px;
  padding: 10px 0 0;
  &__name {
    margin: 10px 0 0;
  }
  &__hp {
    margin: 10px 0 0;
    font-size: 1.2rem;
  }
}

.dying {
  color:red;
}

.enemy-img {
  position: fixed;
  top: 150px;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 15%;
  height: auto;
  transform: translateX(100%);
  animation: Enemy 3s forwards;
  margin: 60px auto 0;
}

.player {
  position: fixed;
  bottom: 20px;
  left: 275px;
  display: flex;
  justify-content: space-around;
  color: white;
  height: 200px;
  width: 890px;
  border: 5px solid white;
  margin: 0 auto;
  padding: 10px 20px;

  &__command {
    position: fixed;
    bottom: 70px;
    left: 450px
  }

  &__command2 {
    display: none;
    position: fixed;
    bottom: 40px;
    left: 450px
  }

  &__command p, &__command2 p, &__status p {
    margin: 25px 0 0;
  }

  &__attack {
    display: none;
    position: fixed;
    bottom: 80px;
    left: 330px;
    .give-attack {
      font-size: 2rem;
      margin-bottom: 30px;
    }
  }

  .enemy__attack {
    display: none;
    position: fixed;
    bottom: 80px;
    left: 330px;
    .eat-attack {
      font-size: 2rem;
      margin-bottom: 30px;
    }
  }

  &__border {
    position: fixed;
    height: 195px;
    width: 5px;
    background: white;
    bottom: 22px;
    left: 865px;
  }

  &__status {
    position: fixed;
    bottom: 90px;
    right: 365px;
    p {
      font-size: 1.4rem;
    }
  }
}

.fa-caret-right {
  font-size: 20px;
}


@keyframes Enemy {
  0%{
    opacity: 0;
    transform: translateX(100%);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}