.ball {
  width:25px;
  height: 25px;
  display: block;
  position: absolute;
  bottom:0px;
  left:250px;
  img {
  font-size:20px;
  line-height: 25px;
  width:25px;
  height: 25px;
  display: block;   
  
  }
}

.gara {
width:25px;
height: 25px;
display: block;
position: absolute;
bottom:125px;
left:250px;
  img {
  font-size:20px;
  line-height: 25px;
  width:25px;
  height: 25px;
  display: block;   

  }
}
.men {
width:25px;
  height: 25px;
  display: block;
  position: absolute;
  top:50px;
  left:350px;
  img {
  font-size:20px;
  line-height: 25px;
  width:25px;
  height: 25px;
  display: block;
  }
}

.women {
width:25px;
height: 25px;
display: block;
position: absolute;
bottom:100px;
right:350px;
  img {
  font-size:20px;
  line-height: 25px;
  width:25px;
  height: 25px;
  display: block;
  }
}

.ooo {
width:25px;
height: 25px;
display: block;
position: absolute;
bottom:200px;
right:300px;
  img {
  font-size:20px;
  line-height: 25px;
  width:25px;
  height: 25px;
  display: block;
  }
}

.green {
width:25px;
height: 25px;
display: block;
position: absolute;
bottom:300px;
right:350px;
  img {
  font-size:20px;
  line-height: 25px;
  width:25px;
  height: 25px;
  display: block;
  }
}

.silver {
width:25px;
height: 25px;
display: block;
position: absolute;
bottom:300px;
right:225px;
  img {
  font-size:20px;
  line-height: 25px;
  width:25px;
  height: 25px;
  display: block;
  }
}

.rwomen {
  width:25px;
  height: 25px;
  display: block;
  position: absolute;
  left:100px;
  top:300px;
  img {
  font-size:20px;
  line-height: 25px;
  width:25px;
  height: 25px;
  display: block;
  }
}

.rmen {
  width:25px;
  height: 25px;
  display: block;
  position: absolute;
  left:125px;
  top:300px;
  img {
  font-size:20px;
  line-height: 25px;
  width:25px;
  height: 25px;
  display: block;
  }
}

.wataru {
  width:25px;
  height: 25px;
  display: block;
  position: absolute;
  top:150px;
  right:300px;
  img {
  font-size:20px;
  line-height: 25px;
  width:25px;
  height: 25px;
  display: block;
  }
}

.adult {
  width:25px;
  height: 25px;
  display: block;
  position: absolute;
  bottom:475px;
  right:500px;
  img {
  font-size:20px;
  line-height: 25px;
  width:25px;
  height: 25px;
  display: block;
  }
}