// Place all the styles related to the monsters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-wrapper {
  height: 670px;
  width:999px;
  margin:0 auto;
  background-color: black;
  .your-monster {
    color:white;
    text-align: center;
    font-size:40px;
  }
  .monsters-index{
    display: flex;
    justify-content: center;
    width:750px;
    height:500px;
    overflow: scroll;
    display: block;
    margin:0 auto;
    &::-webkit-scrollbar {
      display:none;
    }
    
    .monster-index {
      display: inline-block;
      margin:30px 20px 0px;
      height:200px;
      width:200px;
      color: white;
      border: 5px solid white;
      border-radius: 10px;
      margin-top:30px;
      text-align: center;
      &::break{
        word-break: break-all;
      }
      a{
        color:white;
        text-decoration: none;
        display: inline-block;
      }
      img{
        display: inline-block;
        height:150px;
        width:150px;
      }
    }
  }
}

.monsters-show-wrapper {
  background-color: black;
  width:1000px;
  height:700px;
  color:white;
  margin:0 auto;
  text-align: center;
  .monster-show-name {
    font-size: 40px;
  }
  .monster-show {
    display: block;
    border: 5px solid white;
    border-radius: 10px;
    width:400px;
    height:400px;
    margin:0 auto;
    margin-top:50px;
    text-align: center;
    
    img{
      padding:40px 0;
      height:340px;
      width:300px;
    }
    .monster-status {
      font-size:20px;
      margin-bottom:10px;
    }
  }  
  

  
}

.monster-select,.monster-no-select{
  margin-top:20px;
  font-size:20px;
  font-weight:bold;
  text-align: center;
  color:white;
    text-decoration: none;
  a{
    color:white;
    text-decoration: none;
  }
}
